*, *::before, *::after {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 80%;
    padding: 10px;
}

.btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: purple;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn:hover {
    font-weight: bolder;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px;
}

.hide {
    display: none;
}

#countdown {
    display: flex;
}

